<div align="center" style="margin: 20px">
  <h2>Total quantity: {{ cart.totalQuantity }}</h2>
  <h2>Total price: {{ cart.totalPrice }}</h2>
  <br/>
  <table [dataSource]="cart.items" class="mat-elevation-z8" mat-table>
    <ng-container align="center" matColumnDef="name">
      <th *matHeaderCellDef mat-header-cell>Name</th>
      <td *matCellDef="let item" mat-cell>
        <p>
          <img *ngIf="item.product.photos.length>0" alt="no photo" src="{{item.product.photos[0].url}}"/></p>
        <p>{{ item.product.name }}</p>
      </td>
    </ng-container>
    <ng-container matColumnDef="actions">
      <th *matHeaderCellDef mat-header-cell> Quantity</th>
      <td *matCellDef="let item" mat-cell>
        <h3>
          {{ item.quantity }}
        </h3>
      </td>
    </ng-container>
    <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
    <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
  </table>
  <br/>
  <form [formGroup]="orderForm">
    <mat-form-field>
      <mat-label>Name:</mat-label>
      <input formControlName="name" matInput>
    </mat-form-field>
    <br/>
    <mat-form-field>
      <mat-label>Username:</mat-label>
      <input formControlName="username" matInput>
    </mat-form-field>
    <br/>
    <mat-form-field>
      <mat-label>Email:</mat-label>
      <input formControlName="email" matInput>
    </mat-form-field>
  </form>
  <br/>
  <button (click)="openCart()" mat-button>Edit order</button>
  <button (click)="addOrder(orderForm.value)" mat-flat-button>Confirm order</button>
</div>
