<div align="center" style="margin: 20px">
  <h2>Checkout</h2>
  <h3>Quantity: {{ cart.totalQuantity }} </h3>
  <h3>Total price: {{ cart.totalPrice }} </h3>
  <table [dataSource]="cart.items" class="mat-elevation-z8" mat-table>
    <ng-container matColumnDef="name">
      <th *matHeaderCellDef mat-header-cell> Name</th>
      <td *matCellDef="let item" mat-cell>
        <p>
          <img *ngIf="item.product.photos.length>0" alt="no photo"
               src="{{item.product.photos[0].url}}"/></p>
        <p>{{ item.product.name }}</p>
      </td>
    </ng-container>
    <ng-container matColumnDef="actions">
      <th *matHeaderCellDef mat-header-cell> Quantity</th>
      <td *matCellDef="let item" mat-cell>
        <h3>
          {{ item.quantity }}
        </h3>
      </td>
    </ng-container>
    <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
    <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
  </table>
  <p></p>
  <button (click)="openCart()" color="primary" mat-raised-button>Edit products</button>
  <p></p>
  <form [formGroup]="orderForm">
    <p>
      <mat-form-field>
        <mat-label>Description</mat-label>
        <input formControlName="description" matInput>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field>
        <mat-label>User</mat-label>
        <input formControlName="username" matInput>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input formControlName="email" matInput>
      </mat-form-field>
    </p>
  </form>
  <button (click)="addOrder()" color="primary" mat-raised-button>Confirm Order</button>
</div>
