img {
  margin-top: 10px;
  max-width: 120px;
  max-height: 120px;
  width: auto;
  height: auto;
}

/*.selectedChip {*/
/*  background-color: green !important;*/
/*  --mdc-chip-selected-label-text-color: white;*/
/*  --mdc-chip-with-icon-selected-icon-color: white;*/
/*}*/




