.photos {
  margin-left: 20px;
}

#owlId {
  max-width: 1000px;
}

#owlImage {
  max-width: 300px !important;
  max-height: 300px !important;
  width: auto !important;
  height: auto !important;
}




