<nav>
  <a class="button" routerLink="/">Products</a> |
  <a class="button" routerLink="/types">Types</a> |
  <a class="button" routerLink="/brands">Brands</a> |
  <a class="button" routerLink="/cart">Cart</a> |
  <a class="button" routerLink="/checkout">Checkout</a> |
  <a class="button" routerLink="/orders">Orders</a>
</nav>
<div align="right" style="margin: 20px">

    <button [matMenuTriggerFor]="menu" color="primary" mat-stroked-button>
      {{ (user | async)?.username }} : {{(user | async)?.role}}
    </button>
    <mat-menu #menu="matMenu">
      <p>
        <button (click)="editUser()" color="primary" mat-stroked-button>Change password</button>
      </p>
      <p>
        <button (click)="logout()" color="primary" mat-stroked-button>
          <mat-icon>logout</mat-icon>
          logout
        </button>
      </p>
    </mat-menu>
    <button (click)="login()" color="primary" mat-stroked-button>
      <mat-icon>login</mat-icon>
      login
    </button>
    <button (click)="addUser()" color="primary" mat-stroked-button>Sign Up</button>
</div>
<router-outlet></router-outlet>
