/* You can add global styles to this file, and also import other style files */
.photos {
  margin-left: 15px;
}

img {
  max-height: 150px;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
