<div class="user-container">
  <h3 mat-dialog-title>{{ title() }}</h3>
  <form [formGroup]="data.userForm">
    <div>
      <mat-form-field>
        <mat-label>Role:</mat-label>
        <mat-select formControlName="role">
          <mat-option [value]="'user'">USER</mat-option>
          <mat-option [value]="'admin'">ADMIN</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    @if (title() === 'register') {
      <div>
        <mat-form-field>
          <mat-label>User:</mat-label>
          <input formControlName="username" matInput>
          @if (username.invalid && (username.dirty || username.touched)) {
            @if (username.hasError('required')) {
              <mat-error>username is required</mat-error>
            }
          }
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <mat-label>Email:</mat-label>
          <input formControlName="email" matInput>
          @if (email.invalid && (email.dirty || email.touched)) {
            @if (email.hasError('required')) {
              <mat-error>email is required</mat-error>
            }
            @if (email.hasError('email')) {
              <mat-error>not valid email</mat-error>
            }
          }
        </mat-form-field>
      </div>
    }
    <div>
      <mat-form-field>
        <mat-label>Password:</mat-label>
        <input [type]="hidePassword() ? 'password' : 'text'" formControlName="password" matInput/>
        @if (password.invalid && (password.dirty || password.touched)) {
          @if (password.hasError('required')) {
            <mat-error>password is required</mat-error>
          }
          @if (password.hasError('minlength')) {
            <mat-error>password must be at least 4 characters</mat-error>
          }
          @if (password.hasError('pattern')) {
            <mat-error>password must contain at least one capital letter and one digit</mat-error>
          }
        }
        <button (click)="togglePasswordVisibility($event)" matIconButton matSuffix>
          <mat-icon>{{ hidePassword() ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <mat-label>Confirm password:</mat-label>
        <input [type]="hidePassword() ? 'password' : 'text'" formControlName="passwordConfirmed" matInput/>
        <button matIconButton matSuffix>
          <mat-icon>{{ hidePassword() ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
      </mat-form-field>
    </div>
  </form>
  <div mat-dialog-actions>
    <button (click)="onNoClick()" matButton="outlined">No Thanks</button>
    <button [mat-dialog-close]="data.userForm.value" matButton="filled">Ok</button>
  </div>
</div>
