#owlId {
  max-width: 1000px;
}

#owlImage {
  max-width: 300px !important;
  max-height: 300px !important;
  width: auto !important;
  height: auto !important;
}

img {
  margin-top: 20px;
  margin-left: 20px;
  max-width: 120px !important;
  max-height: 120px !important;
  width: auto !important;
  height: auto !important;
}
