<div align="center">
  <h2>{{ product.name }}</h2>
  <div id="owlId">
    @if (product.photos.length > 0) {
      <mat-radio-group>
        <mat-radio-button (click)="setItems(1)">
          <h3>items: 1;</h3>
        </mat-radio-button>
        <mat-radio-button (click)="setItems(2)">
          <h3>items: 2;</h3>
        </mat-radio-button>
        <mat-radio-button (click)="setItems(3)">
          <h3>items: 3;</h3>
        </mat-radio-button>
      </mat-radio-group>
      <owl-carousel-o [options]="customOptions">
        @for (photo of product.photos; track photo.id) {
          <ng-template carouselSlide>
            <img [alt]="'no photo'" [src]="photo.url" id="owlImage"/>
          </ng-template>
        }
      </owl-carousel-o>
    } @else {
      <h2>no photos</h2>
    }
  </div>
  <div align="center">
    @if (isAdmin | async) {
      @for (photo of product.photos; track photo.id) {
        <img [src]="photo.url"/>
        <button (click)="deletePhoto(product, photo)" color="primary" mat-icon-button>
          <mat-icon>delete</mat-icon>
        </button>
      }
      <p>
        <button (click)="addPhotos(product)" mat-icon-button>
          <mat-icon>add</mat-icon>
        </button>
        <button (click)="deletePhotos(product)" mat-icon-button>
          <mat-icon>delete</mat-icon>
        </button>
      </p>
    }
  </div>
</div>
