#owlId {
  max-width: 900px;
}

#owlImage {
  max-width: 240px;
  max-height: 240px;
  width: auto;
  height: auto;
}

img {
  margin-top: 10px;
  max-width: 120px;
  max-height: 120px;
  width: auto;
  height: auto;
}
