#owlId {
  max-width: 900px;
}

#owlImage {
  max-width: 300px;
  max-height: 300px;
  width: auto;
  height: auto;
}

img {
  margin-left: 20px;
  max-width: 120px;
  max-height: 120px;
  width: auto;
  height: auto;
}
